@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800&family=Sen:wght@400;700;800&display=swap");
header {
  padding: 20px 0;
  background: #FAF8ED;
  margin-bottom: 120px; }
  header nav {
    display: flex;
    justify-content: space-between; }
    header nav .nav-left {
      display: flex;
      align-items: center; }
      header nav .nav-left .logo {
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-right: 32px; }
        header nav .nav-left .logo img {
          width: 42px; }
        header nav .nav-left .logo span {
          color: #2D3134;
          font-weight: 700;
          font-family: 'Sen', sans-serif;
          font-size: 20px;
          margin-left: 10px;
          line-height: 42px; }
    header nav ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0; }
      header nav ul li {
        margin-left: 36px; }
        header nav ul li a {
          text-decoration: none;
          color: #2E476B;
          font-family: 'Poppins', sans-serif;
          font-weight: 400;
          font-size: 16px; }
    header nav .nav-right {
      display: flex;
      align-items: center; }
      header nav .nav-right .bookBtn {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #F66F4D;
        text-decoration: none;
        padding: 12px 24px;
        border: 1.4px solid #F66F4D;
        border-radius: 100px; }
      header nav .nav-right i {
        margin-left: 4px; }
  header .section {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .section .content {
      width: 50%; }
      header .section .content h1 {
        font-family: 'Sen', sans-serif;
        font-weight: 700;
        font-size: 84px;
        color: #2D3134;
        margin-bottom: 24px; }
      header .section .content p {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 40px;
        color: #5B5F62; }
      header .section .content .bookingCard {
        display: flex;
        align-items: center;
        width: 70%;
        padding: 16px 20px 16px 26px;
        border-radius: 100px;
        background: white; }
        header .section .content .bookingCard .where h2, header .section .content .bookingCard .date h2 {
          font-family: 'Inter', sans-serif;
          font-weight: 500;
          font-size: 18px;
          color: #2D3134;
          margin: 0;
          margin-bottom: 8px; }
        header .section .content .bookingCard .where p, header .section .content .bookingCard .date p {
          font-family: 'Inter', sans-serif;
          font-weight: 400;
          font-size: 12px;
          margin: 0;
          color: #939597; }
        header .section .content .bookingCard .where {
          flex: 2; }
        header .section .content .bookingCard .date {
          flex: 3; }
        header .section .content .bookingCard .search {
          margin-left: auto;
          display: flex;
          align-items: center;
          color: white;
          padding: 12px;
          background: #F66F4D;
          border-radius: 100px; }
    header .section .img {
      width: 50%; }
      header .section .img img {
        width: 100%; }

.categories {
  margin-bottom: 90px; }
  .categories .title {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .categories .title h1 {
      font-family: 'Inter', sans-serif;
      font-weight: 600;
      font-size: 56px;
      color: #2D3134;
      margin: 0;
      margin-bottom: 24px; }
    .categories .title .buttonSlide {
      display: flex;
      align-items: center; }
      .categories .title .buttonSlide .prevBtn, .categories .title .buttonSlide .nextBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 100px;
        width: 56px;
        height: 56px;
        border: 1px solid #5B5F62;
        margin: 0 8px;
        cursor: pointer; }
        .categories .title .buttonSlide .prevBtn i, .categories .title .buttonSlide .nextBtn i {
          color: #5B5F62; }
  .categories p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #5B5F62;
    margin: 0;
    margin-bottom: 60px; }
  .categories .cards {
    display: flex;
    gap: 30px; }
    .categories .cards .card {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .categories .cards .card .img {
        width: 100%; }
        .categories .cards .card .img img {
          width: 100%; }
      .categories .cards .card .content {
        margin-top: 18px; }
        .categories .cards .card .content h2 {
          font-family: 'Inter', sans-serif;
          font-weight: 500;
          font-size: 26px;
          color: #2D3134;
          margin: 0; }

.ourExperience {
  display: flex;
  margin-bottom: 80px; }
  .ourExperience .img {
    width: 50%; }
    .ourExperience .img img {
      width: 100%; }
  .ourExperience .content {
    width: 50%; }
    .ourExperience .content h3 {
      font-family: 'Inter', sans-serif;
      font-weight: 600;
      font-size: 20px;
      color: #F66F4D;
      margin: 0;
      margin-bottom: 20px; }
    .ourExperience .content h1 {
      font-family: 'Inter', sans-serif;
      font-weight: 600;
      font-size: 56px;
      color: #2D3134;
      margin: 0;
      margin-bottom: 20px; }
    .ourExperience .content p {
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #5B5F62;
      margin: 0;
      margin-bottom: 40px; }
    .ourExperience .content .cards {
      display: flex;
      gap: 20px; }
      .ourExperience .content .cards .card {
        padding: 24px;
        border-radius: 20px;
        background: #FFFFFFB2; }
        .ourExperience .content .cards .card h4 {
          font-family: 'Inter', sans-serif;
          font-weight: 600;
          font-size: 46px;
          color: #F66F4D;
          margin: 0;
          margin-bottom: 18px; }
        .ourExperience .content .cards .card h5 {
          font-family: 'Inter', sans-serif;
          font-weight: 400;
          font-size: 21px;
          color: #939597;
          margin: 0; }

.popularDestinations {
  margin-bottom: 90px; }
  .popularDestinations .title {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .popularDestinations .title h1 {
      font-family: 'Inter', sans-serif;
      font-weight: 600;
      font-size: 56px;
      color: #2D3134;
      margin: 0;
      margin-bottom: 24px; }
    .popularDestinations .title .buttonSlide {
      display: flex;
      align-items: center; }
      .popularDestinations .title .buttonSlide .prevBtn, .popularDestinations .title .buttonSlide .nextBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 100px;
        width: 56px;
        height: 56px;
        border: 1px solid #5B5F62;
        margin: 0 8px;
        cursor: pointer; }
        .popularDestinations .title .buttonSlide .prevBtn i, .popularDestinations .title .buttonSlide .nextBtn i {
          color: #5B5F62; }

body {
  margin: 0;
  padding: 0;
  background: #FAF8ED; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; }
